#post_show {
	padding-top: 2rem;
	.post_image_description {
		width: 50%;
		float: left;
		margin-right: 5%;
	}
	.post_data {
		width: 15%;
		float: left;
		.button {
			width: 100%;
			display: inline-block;
			padding 
		}
	}
}